  Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: floralwhite;  
}  
button {   
       background-color: lightgreen;   
       width: 100%;  
        color: black;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   

 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid blueviolet;   
        box-sizing: border-box;   
    }  
button:hover {   
        opacity: 0.7;   
    }   
.signupbtn {   
              width: auto;   
              padding: 10px 18px;  
              margin: 10px 5px;  
              }   
       .forgot {
              width: auto;   
              padding: 10px 18px;  
              margin: 10px 5px;  

              }

       .container {   
              padding: 25px;
              background-color: lightblue;
              margin: 50px;  
              }